In [1]:
import pandas as pd

# Cargar el dataset
file_path = '../data/processed/df_cancer_prostata_processed.csv'
data = pd.read_csv(file_path)


# Mostrar las primeras filas y un resumen de los datos
data.describe(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Columns: 121 entries, IDPACIENTE to DIAS_HASTA_INICIO_TRATAMIENTO
dtypes: float64(24), int64(5), object(92)
memory usage: 822.5+ KB

(         IDPACIENTE       IDTUMOR  FECHA_COMITE  INTERVALO_INGRESO_DIAGNO  \
 count    870.000000    870.000000           0.0                870.000000
 mean   27910.850575  25382.272414           NaN               -135.877011
 std     5536.667455   3749.857476           NaN                289.603049
 min     1646.000000  16920.000000           NaN              -1607.000000
 25%    24087.500000  22280.250000           NaN               -211.000000
 50%    28002.500000  25178.500000           NaN               -108.000000
 75%    31985.250000  27650.750000           NaN                  6.750000
 max    37144.000000  33121.000000           NaN               3060.000000

        COD_TOPOLOGIA  LINFOMA  FIGO  FIGO_LETRA  TNM_3  SUBTIPO  ...  \
 count          870.0      0.0   0.0         0.0    0.0    870.0  ...
 mean            61.0      NaN   NaN         NaN    NaN      0.0  ...
 std              0.0      NaN   NaN         NaN    NaN      0.0  ...
 min             61.0      NaN   NaN         NaN    NaN      0.0  ...
 25%             61.0      NaN   NaN         NaN    NaN      0.0  ...
 50%             61.0      NaN   NaN         NaN    NaN      0.0  ...
 75%             61.0      NaN   NaN         NaN    NaN      0.0  ...
 max             61.0      NaN   NaN         NaN    NaN      0.0  ...

        FECHA_TERMINO_TRATAMIENTO_9  FECHA_TERMINO_TRATAMIENTO_10  \
 count                          0.0                           0.0
 mean                           NaN                           NaN
 std                            NaN                           NaN
 min                            NaN                           NaN
 25%                            NaN                           NaN
 50%                            NaN                           NaN
 75%                            NaN                           NaN
 max                            NaN                           NaN

        TIPO_TRATAMIENTO_8  TIPO_TRATAMIENTO_9  TIPO_TRATAMIENTO_10  \
 count                 0.0                 0.0                  0.0
 mean                  NaN                 NaN                  NaN
 std                   NaN                 NaN                  NaN
 min                   NaN                 NaN                  NaN
 25%                   NaN                 NaN                  NaN
 50%                   NaN                 NaN                  NaN
 75%                   NaN                 NaN                  NaN
 max                   NaN                 NaN                  NaN

        OBSERVACION_TRATAMIENTO_7  OBSERVACION_TRATAMIENTO_8  \
 count                        0.0                        0.0
 mean                         NaN                        NaN
 std                          NaN                        NaN
 min                          NaN                        NaN
 25%                          NaN                        NaN
 50%                          NaN                        NaN
 75%                          NaN                        NaN
 max                          NaN                        NaN

        OBSERVACION_TRATAMIENTO_9  OBSERVACION_TRATAMIENTO_10  \
 count                        0.0                         0.0
 mean                         NaN                         NaN
 std                          NaN                         NaN
 min                          NaN                         NaN
 25%                          NaN                         NaN
 50%                          NaN                         NaN
 75%                          NaN                         NaN
 max                          NaN                         NaN

        DIAS_HASTA_INICIO_TRATAMIENTO
 count                     870.000000
 mean                      252.203448
 std                       247.576699
 min                         0.000000
 25%                       111.250000
 50%                       181.000000
 75%                       299.750000
 max                      1641.000000

 [8 rows x 29 columns],
 None)

In [2]:
# Calcular el porcentaje de valores faltantes por columna
missing_data = data.isnull().mean() * 100

# Mostrar las columnas con el porcentaje de valores faltantes
missing_data.sort_values(ascending=False)

TIPO_TERAPIA_10                  100.0
FECHA_TERMINO_TRATAMIENTO_10     100.0
TIPO_TRATAMIENTO_8               100.0
FECHA_COMITE                     100.0
FECHA_TERMINO_TRATAMIENTO_8      100.0
                                 ...
EXTENSION_NOM                      0.0
NOM_COMPORTAMIENTO                 0.0
MORFO_COMPLETA                     0.0
COD_CIE10                          0.0
DIAS_HASTA_INICIO_TRATAMIENTO      0.0
Length: 121, dtype: float64

Algunas columnas en el dataset tienen un 100% de valores faltantes, lo que significa que no contienen información útil y podrían ser eliminadas. Vamos a eliminar todas las columnas que tienen un porcentaje de valores faltantes superior al 90%, ya que no aportarán mucho al análisis. Posteriormente, revisaremos cómo manejar las demás columnas con valores faltantes.

In [3]:
# Eliminar columnas con más del 90% de valores faltantes
data_cleaned = data.loc[:, (data.isnull().mean() < 0.9)]

# Mostrar las columnas eliminadas y el resumen del dataset resultante
columns_removed = data.columns.difference(data_cleaned.columns)
data_cleaned.info(), columns_removed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   IDPACIENTE                     870 non-null    int64
 1   IDTUMOR                        870 non-null    int64
 2   SEXO                           870 non-null    object
 3   FEC_NACIMIENTO                 870 non-null    object
 4   PREVISION                      870 non-null    object
 5   RELIGION                       869 non-null    object
 6   ETNIA                          870 non-null    object
 7   ZONA_VIVIENDA                  866 non-null    object
 8   COMUNA                         870 non-null    object
 9   REGION                         870 non-null    object
 10  SSREFERENCIA                   870 non-null    object
 11  RECINTO_PROCEDE                870 non-null    object
 12  ESTABLE_DESTINO                869 non-null    object
 13  ACT_LABORAL                    870 non-null    object
 14  ACT_EMPRESA                    870 non-null    object
 15  SITUACION_LABORAL              863 non-null    object
 16  ULT_CURSO_APROBADO             866 non-null    object
 17  CANCER_PREVIO_1                870 non-null    object
 18  CANCER_PREVIO_2                869 non-null    object
 19  PARENTESCO_1                   870 non-null    object
 20  CANCER_PARENTESCO_1            869 non-null    object
 21  PARENTESCO_2                   869 non-null    object
 22  CANCER_PARENTESCO_2            869 non-null    object
 23  PARENTESCO3                    869 non-null    object
 24  CANCER_PARENTESCO3             869 non-null    object
 25  FEC_INGRESO_CASO               870 non-null    object
 26  FEC_DIAGNO                     870 non-null    object
 27  INTERVALO_INGRESO_DIAGNO       870 non-null    float64
 28  FEC_TOM_MUESTRA                870 non-null    object
 29  TIPO_TUMOR                     870 non-null    object
 30  COD_TOPOLOGIA                  870 non-null    int64
 31  NOM_TOPOLOGIA                  870 non-null    object
 32  COD_DET_TOPOLOGIA              870 non-null    object
 33  NOM_DETALLE_TOPO               870 non-null    object
 34  COD_CIE10                      870 non-null    object
 35  MORFO_COMPLETA                 870 non-null    object
 36  NOM_COMPORTAMIENTO             870 non-null    object
 37  EXTENSION_NOM                  870 non-null    object
 38  LATERALIDAD_NOM                870 non-null    object
 39  GRADO_DIFERENCIACION           866 non-null    object
 40  BASE_DIAGNOSTICA               870 non-null    object
 41  TUMOR                          870 non-null    object
 42  GRAVEDAD                       870 non-null    object
 43  POBLACION                      870 non-null    object
 44  ETAPA_CLINICA                  644 non-null    object
 45  ETAPA_LETRA                    94 non-null     object
 46  TNM_1                          637 non-null    object
 47  SUBTIPO                        870 non-null    int64
 48  ESTADO_ACTUAL                  870 non-null    object
 49  ESTADO_ACTUAL_TTO              870 non-null    object
 50  ULTIMO_CONTACTO                870 non-null    object
 51  ESTADO_RECH                    870 non-null    object
 52  CLASEDECASO                    870 non-null    object
 53  FUENTE1                        835 non-null    object
 54  FUENTE2                        153 non-null    object
 55  ESTADO                         870 non-null    object
 56  INTENCION_TRATA                864 non-null    object
 57  RESPUESTA_TRATA                868 non-null    object
 58  TIPO_TERAPIA_1                 870 non-null    object
 59  TIPO_TERAPIA_2                 217 non-null    object
 60  FECHA_INICIO_TRATAMIENTO_1     870 non-null    object
 61  FECHA_INICIO_TRATAMIENTO_2     203 non-null    object
 62  FECHA_TERMINO_TRATAMIENTO_1    799 non-null    object
 63  FECHA_TERMINO_TRATAMIENTO_2    175 non-null    object
 64  TIPO_TRATAMIENTO_1             870 non-null    object
 65  TIPO_TRATAMIENTO_2             217 non-null    object
 66  OBSERVACION_TRATAMIENTO_1      840 non-null    object
 67  OBSERVACION_TRATAMIENTO_2      165 non-null    object
 68  DIAS_HASTA_INICIO_TRATAMIENTO  870 non-null    int64
dtypes: float64(1), int64(5), object(63)
memory usage: 469.1+ KB

(None,
 Index(['CAUSAFALLECIMIENTO', 'FECHA_CANCER_PREVIO_1', 'FECHA_CANCER_PREVIO_2',
        'FECHA_COMITE', 'FECHA_FALLECIMIENTO', 'FECHA_INICIO_TRATAMIENTO_10',
        'FECHA_INICIO_TRATAMIENTO_3', 'FECHA_INICIO_TRATAMIENTO_4',
        'FECHA_INICIO_TRATAMIENTO_5', 'FECHA_INICIO_TRATAMIENTO_6',
        'FECHA_INICIO_TRATAMIENTO_7', 'FECHA_INICIO_TRATAMIENTO_8',
        'FECHA_INICIO_TRATAMIENTO_9', 'FECHA_TERMINO_TRATAMIENTO_10',
        'FECHA_TERMINO_TRATAMIENTO_3', 'FECHA_TERMINO_TRATAMIENTO_4',
        'FECHA_TERMINO_TRATAMIENTO_5', 'FECHA_TERMINO_TRATAMIENTO_6',
        'FECHA_TERMINO_TRATAMIENTO_7', 'FECHA_TERMINO_TRATAMIENTO_8',
        'FECHA_TERMINO_TRATAMIENTO_9', 'FIGO', 'FIGO_LETRA', 'FUENTE3',
        'LINFOMA', 'OBSERVACION_TRATAMIENTO_10', 'OBSERVACION_TRATAMIENTO_3',
        'OBSERVACION_TRATAMIENTO_4', 'OBSERVACION_TRATAMIENTO_5',
        'OBSERVACION_TRATAMIENTO_6', 'OBSERVACION_TRATAMIENTO_7',
        'OBSERVACION_TRATAMIENTO_8', 'OBSERVACION_TRATAMIENTO_9', 'RECEPTORES',
        'TIPO_TERAPIA_10', 'TIPO_TERAPIA_3', 'TIPO_TERAPIA_4', 'TIPO_TERAPIA_5',
        'TIPO_TERAPIA_6', 'TIPO_TERAPIA_7', 'TIPO_TERAPIA_8', 'TIPO_TERAPIA_9',
        'TIPO_TRATAMIENTO_10', 'TIPO_TRATAMIENTO_3', 'TIPO_TRATAMIENTO_4',
        'TIPO_TRATAMIENTO_5', 'TIPO_TRATAMIENTO_6', 'TIPO_TRATAMIENTO_7',
        'TIPO_TRATAMIENTO_8', 'TIPO_TRATAMIENTO_9', 'TNM_2', 'TNM_3'],
       dtype='object'))

Hemos eliminado 52 columnas que contenían más del 90% de valores faltantes, dejando el dataset con 69 columnas. Ahora podemos concentrarnos en mejorar la calidad de las columnas restantes.

In [4]:
# Calcular nuevamente el porcentaje de valores faltantes en las columnas restantes
missing_data_updated = data_cleaned.isnull().mean() * 100

# Filtrar y mostrar columnas con valores faltantes, ordenados
missing_data_filtered = missing_data_updated[missing_data_updated > 0].sort_values(ascending=False)
missing_data_filtered

ETAPA_LETRA                    89.195402
FUENTE2                        82.413793
OBSERVACION_TRATAMIENTO_2      81.034483
FECHA_TERMINO_TRATAMIENTO_2    79.885057
FECHA_INICIO_TRATAMIENTO_2     76.666667
TIPO_TRATAMIENTO_2             75.057471
TIPO_TERAPIA_2                 75.057471
TNM_1                          26.781609
ETAPA_CLINICA                  25.977011
FECHA_TERMINO_TRATAMIENTO_1     8.160920
FUENTE1                         4.022989
OBSERVACION_TRATAMIENTO_1       3.448276
SITUACION_LABORAL               0.804598
INTENCION_TRATA                 0.689655
ZONA_VIVIENDA                   0.459770
ULT_CURSO_APROBADO              0.459770
GRADO_DIFERENCIACION            0.459770
RESPUESTA_TRATA                 0.229885
ESTABLE_DESTINO                 0.114943
CANCER_PARENTESCO3              0.114943
PARENTESCO3                     0.114943
CANCER_PARENTESCO_2             0.114943
PARENTESCO_2                    0.114943
CANCER_PARENTESCO_1             0.114943
CANCER_PREVIO_2                 0.114943
RELIGION                        0.114943
dtype: float64

In [5]:
# Eliminar columnas con más del 75% de valores faltantes
columns_to_drop = missing_data_filtered[missing_data_filtered > 75].index
data_cleaned = data_cleaned.drop(columns=columns_to_drop)

# Mostrar las columnas eliminadas y la información actualizada del dataset
columns_to_drop, data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 62 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   IDPACIENTE                     870 non-null    int64
 1   IDTUMOR                        870 non-null    int64
 2   SEXO                           870 non-null    object
 3   FEC_NACIMIENTO                 870 non-null    object
 4   PREVISION                      870 non-null    object
 5   RELIGION                       869 non-null    object
 6   ETNIA                          870 non-null    object
 7   ZONA_VIVIENDA                  866 non-null    object
 8   COMUNA                         870 non-null    object
 9   REGION                         870 non-null    object
 10  SSREFERENCIA                   870 non-null    object
 11  RECINTO_PROCEDE                870 non-null    object
 12  ESTABLE_DESTINO                869 non-null    object
 13  ACT_LABORAL                    870 non-null    object
 14  ACT_EMPRESA                    870 non-null    object
 15  SITUACION_LABORAL              863 non-null    object
 16  ULT_CURSO_APROBADO             866 non-null    object
 17  CANCER_PREVIO_1                870 non-null    object
 18  CANCER_PREVIO_2                869 non-null    object
 19  PARENTESCO_1                   870 non-null    object
 20  CANCER_PARENTESCO_1            869 non-null    object
 21  PARENTESCO_2                   869 non-null    object
 22  CANCER_PARENTESCO_2            869 non-null    object
 23  PARENTESCO3                    869 non-null    object
 24  CANCER_PARENTESCO3             869 non-null    object
 25  FEC_INGRESO_CASO               870 non-null    object
 26  FEC_DIAGNO                     870 non-null    object
 27  INTERVALO_INGRESO_DIAGNO       870 non-null    float64
 28  FEC_TOM_MUESTRA                870 non-null    object
 29  TIPO_TUMOR                     870 non-null    object
 30  COD_TOPOLOGIA                  870 non-null    int64
 31  NOM_TOPOLOGIA                  870 non-null    object
 32  COD_DET_TOPOLOGIA              870 non-null    object
 33  NOM_DETALLE_TOPO               870 non-null    object
 34  COD_CIE10                      870 non-null    object
 35  MORFO_COMPLETA                 870 non-null    object
 36  NOM_COMPORTAMIENTO             870 non-null    object
 37  EXTENSION_NOM                  870 non-null    object
 38  LATERALIDAD_NOM                870 non-null    object
 39  GRADO_DIFERENCIACION           866 non-null    object
 40  BASE_DIAGNOSTICA               870 non-null    object
 41  TUMOR                          870 non-null    object
 42  GRAVEDAD                       870 non-null    object
 43  POBLACION                      870 non-null    object
 44  ETAPA_CLINICA                  644 non-null    object
 45  TNM_1                          637 non-null    object
 46  SUBTIPO                        870 non-null    int64
 47  ESTADO_ACTUAL                  870 non-null    object
 48  ESTADO_ACTUAL_TTO              870 non-null    object
 49  ULTIMO_CONTACTO                870 non-null    object
 50  ESTADO_RECH                    870 non-null    object
 51  CLASEDECASO                    870 non-null    object
 52  FUENTE1                        835 non-null    object
 53  ESTADO                         870 non-null    object
 54  INTENCION_TRATA                864 non-null    object
 55  RESPUESTA_TRATA                868 non-null    object
 56  TIPO_TERAPIA_1                 870 non-null    object
 57  FECHA_INICIO_TRATAMIENTO_1     870 non-null    object
 58  FECHA_TERMINO_TRATAMIENTO_1    799 non-null    object
 59  TIPO_TRATAMIENTO_1             870 non-null    object
 60  OBSERVACION_TRATAMIENTO_1      840 non-null    object
 61  DIAS_HASTA_INICIO_TRATAMIENTO  870 non-null    int64
dtypes: float64(1), int64(5), object(56)
memory usage: 421.5+ KB

(Index(['ETAPA_LETRA', 'FUENTE2', 'OBSERVACION_TRATAMIENTO_2',
        'FECHA_TERMINO_TRATAMIENTO_2', 'FECHA_INICIO_TRATAMIENTO_2',
        'TIPO_TRATAMIENTO_2', 'TIPO_TERAPIA_2'],
       dtype='object'),
 None)

Hemos eliminado 7 columnas más con más del 75% de datos faltantes. El dataset ahora tiene 62 columnas.

Para las columnas restantes con valores faltantes, usaremos diferentes estrategias de imputación dependiendo de su tipo y la cantidad de datos faltantes:

* Columnas Numéricas: Podemos imputar usando la mediana para minimizar el impacto de valores extremos.
* Columnas Categóricas: Podemos imputar usando la moda, es decir, el valor más frecuente.

In [6]:
from sklearn.impute import SimpleImputer

# Imputador para datos categóricos (usando la moda)
imputer_categorical = SimpleImputer(strategy='most_frequent')

# Columnas categóricas con menos del 10% de datos faltantes
categorical_columns = data_cleaned.select_dtypes(include=['object']).columns
categorical_missing = missing_data_filtered[(missing_data_filtered > 0) & (missing_data_filtered < 10)]
categorical_to_impute = [col for col in categorical_missing.index if col in categorical_columns]

# Aplicar imputación
data_cleaned[categorical_to_impute] = imputer_categorical.fit_transform(data_cleaned[categorical_to_impute])

# Verificar que ya no hay valores faltantes en esas columnas
data_cleaned[categorical_to_impute].isnull().sum()

FECHA_TERMINO_TRATAMIENTO_1    0
FUENTE1                        0
OBSERVACION_TRATAMIENTO_1      0
SITUACION_LABORAL              0
INTENCION_TRATA                0
ZONA_VIVIENDA                  0
ULT_CURSO_APROBADO             0
GRADO_DIFERENCIACION           0
RESPUESTA_TRATA                0
ESTABLE_DESTINO                0
CANCER_PARENTESCO3             0
PARENTESCO3                    0
CANCER_PARENTESCO_2            0
PARENTESCO_2                   0
CANCER_PARENTESCO_1            0
CANCER_PREVIO_2                0
RELIGION                       0
dtype: int64

In [7]:
data_cleaned.columns

Index(['IDPACIENTE', 'IDTUMOR', 'SEXO', 'FEC_NACIMIENTO', 'PREVISION',
       'RELIGION', 'ETNIA', 'ZONA_VIVIENDA', 'COMUNA', 'REGION',
       'SSREFERENCIA', 'RECINTO_PROCEDE', 'ESTABLE_DESTINO', 'ACT_LABORAL',
       'ACT_EMPRESA', 'SITUACION_LABORAL', 'ULT_CURSO_APROBADO',
       'CANCER_PREVIO_1', 'CANCER_PREVIO_2', 'PARENTESCO_1',
       'CANCER_PARENTESCO_1', 'PARENTESCO_2', 'CANCER_PARENTESCO_2',
       'PARENTESCO3', 'CANCER_PARENTESCO3', 'FEC_INGRESO_CASO', 'FEC_DIAGNO',
       'INTERVALO_INGRESO_DIAGNO', 'FEC_TOM_MUESTRA', 'TIPO_TUMOR',
       'COD_TOPOLOGIA', 'NOM_TOPOLOGIA', 'COD_DET_TOPOLOGIA',
       'NOM_DETALLE_TOPO', 'COD_CIE10', 'MORFO_COMPLETA', 'NOM_COMPORTAMIENTO',
       'EXTENSION_NOM', 'LATERALIDAD_NOM', 'GRADO_DIFERENCIACION',
       'BASE_DIAGNOSTICA', 'TUMOR', 'GRAVEDAD', 'POBLACION', 'ETAPA_CLINICA',
       'TNM_1', 'SUBTIPO', 'ESTADO_ACTUAL', 'ESTADO_ACTUAL_TTO',
       'ULTIMO_CONTACTO', 'ESTADO_RECH', 'CLASEDECASO', 'FUENTE1', 'ESTADO',
       'INTENCION_TRATA', 'RESPUESTA_TRATA', 'TIPO_TERAPIA_1',
       'FECHA_INICIO_TRATAMIENTO_1', 'FECHA_TERMINO_TRATAMIENTO_1',
       'TIPO_TRATAMIENTO_1', 'OBSERVACION_TRATAMIENTO_1',
       'DIAS_HASTA_INICIO_TRATAMIENTO'],
      dtype='object')

In [8]:
data_cleaned.describe()

,IDPACIENTE,IDTUMOR,INTERVALO_INGRESO_DIAGNO,COD_TOPOLOGIA,SUBTIPO,DIAS_HASTA_INICIO_TRATAMIENTO
count,870.000000,870.000000,870.000000,870.0,870.0,870.000000
mean,27910.850575,25382.272414,-135.877011,61.0,0.0,252.203448
std,5536.667455,3749.857476,289.603049,0.0,0.0,247.576699
min,1646.000000,16920.000000,-1607.000000,61.0,0.0,0.000000
25%,24087.500000,22280.250000,-211.000000,61.0,0.0,111.250000
50%,28002.500000,25178.500000,-108.000000,61.0,0.0,181.000000
75%,31985.250000,27650.750000,6.750000,61.0,0.0,299.750000
max,37144.000000,33121.000000,3060.000000,61.0,0.0,1641.000000

In [27]:
# 1. Obtener información sobre las columnas
diccionario_columnas = {}

for columna in data_cleaned.columns:
    tipo_variable = str(data_cleaned[columna].dtype)  # Convertir a cadena de texto
    
    # Agregar información sobre si la variable es numérica o categórica
    if pd.api.types.is_numeric_dtype(data_cleaned[columna]):
        tipo_variable += " (Numérica)"
    else:
        tipo_variable += " (Categórica)"
    
    # Resumen del contenido
    resumen_contenido = data_cleaned[columna].describe().reset_index().rename(columns={'index': 'Descripción'})
    
    # Agregar al diccionario
    diccionario_columnas[columna] = {
        "Tipo": tipo_variable,
        "Resumen": resumen_contenido
    }

In [22]:
# Agregar la impresión del diccionario_columnas aquí
print(diccionario_columnas)

{'IDPACIENTE': {'Tipo': 'int64 (Numérica)', 'Resumen': count             870.0
mean       27910.850575
std         5536.667455
min              1646.0
25%             24087.5
50%             28002.5
75%            31985.25
max             37144.0
Columna      IDPACIENTE
Name: IDPACIENTE, dtype: object}, 'IDTUMOR': {'Tipo': 'int64 (Numérica)', 'Resumen': count             870.0
mean       25382.272414
std         3749.857476
min             16920.0
25%            22280.25
50%             25178.5
75%            27650.75
max             33121.0
Columna         IDTUMOR
Name: IDTUMOR, dtype: object}, 'SEXO': {'Tipo': 'object (Categórica)', 'Resumen': count       870
unique        2
top           M
freq        868
Columna    SEXO
Name: SEXO, dtype: object}, 'FEC_NACIMIENTO': {'Tipo': 'object (Categórica)', 'Resumen': count                 870
unique                822
top            1943-11-20
freq                    5
Columna    FEC_NACIMIENTO
Name: FEC_NACIMIENTO, dtype: object}, 'PREVISION': {'Tipo': 'object (Categórica)', 'Resumen': count            870
unique             6
top         FONASA B
freq             564
Columna    PREVISION
Name: PREVISION, dtype: object}, 'RELIGION': {'Tipo': 'object (Categórica)', 'Resumen': count              870
unique               5
top        NO RESPONDE
freq               843
Columna       RELIGION
Name: RELIGION, dtype: object}, 'ETNIA': {'Tipo': 'object (Categórica)', 'Resumen': count                       870
unique                        4
top        Ninguna, No responde
freq                        800
Columna                   ETNIA
Name: ETNIA, dtype: object}, 'ZONA_VIVIENDA': {'Tipo': 'object (Categórica)', 'Resumen': count                870
unique                 3
top               Urbano
freq                 628
Columna    ZONA_VIVIENDA
Name: ZONA_VIVIENDA, dtype: object}, 'COMUNA': {'Tipo': 'object (Categórica)', 'Resumen': count           870
unique           70
top        Valdivia
freq            168
Columna      COMUNA
Name: COMUNA, dtype: object}, 'REGION': {'Tipo': 'object (Categórica)', 'Resumen': count                     870
unique                      5
top        REGION DE LOS RIOS
freq                      362
Columna                REGION
Name: REGION, dtype: object}, 'SSREFERENCIA': {'Tipo': 'object (Categórica)', 'Resumen': count               870
unique               11
top            Valdivia
freq                310
Columna    SSREFERENCIA
Name: SSREFERENCIA, dtype: object}, 'RECINTO_PROCEDE': {'Tipo': 'object (Categórica)', 'Resumen': count                                                 870
unique                                                 47
top        Hospital Dr. Hernan Henriquez Aravena (Temuco)
freq                                                  249
Columna                                   RECINTO_PROCEDE
Name: RECINTO_PROCEDE, dtype: object}, 'ESTABLE_DESTINO': {'Tipo': 'object (Categórica)', 'Resumen': count                                       870
unique                                       32
top        Hospital Clinico Regional (Valdivia)
freq                                        300
Columna                         ESTABLE_DESTINO
Name: ESTABLE_DESTINO, dtype: object}, 'ACT_LABORAL': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                  12
top        Sin Informacion
freq                   636
Columna        ACT_LABORAL
Name: ACT_LABORAL, dtype: object}, 'ACT_EMPRESA': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                  11
top        Sin informacion
freq                   623
Columna        ACT_EMPRESA
Name: ACT_EMPRESA, dtype: object}, 'SITUACION_LABORAL': {'Tipo': 'object (Categórica)', 'Resumen': count                    870
unique                     8
top          SIN INFORMACION
freq                     546
Columna    SITUACION_LABORAL
Name: SITUACION_LABORAL, dtype: object}, 'ULT_CURSO_APROBADO': {'Tipo': 'object (Categórica)', 'Resumen': count                      870
unique                       7
top        No sabe/No responde
freq                       762
Columna     ULT_CURSO_APROBADO
Name: ULT_CURSO_APROBADO, dtype: object}, 'CANCER_PREVIO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                  10
top          Sin CA Previo
freq                   848
Columna    CANCER_PREVIO_1
Name: CANCER_PREVIO_1, dtype: object}, 'CANCER_PREVIO_2': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                   3
top          Sin CA Previo
freq                   867
Columna    CANCER_PREVIO_2
Name: CANCER_PREVIO_2, dtype: object}, 'PARENTESCO_1': {'Tipo': 'object (Categórica)', 'Resumen': count               870
unique               11
top         No registra
freq                766
Columna    PARENTESCO_1
Name: PARENTESCO_1, dtype: object}, 'CANCER_PARENTESCO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                      870
unique                      18
top              Sin CA Previo
freq                       762
Columna    CANCER_PARENTESCO_1
Name: CANCER_PARENTESCO_1, dtype: object}, 'PARENTESCO_2': {'Tipo': 'object (Categórica)', 'Resumen': count               870
unique               10
top         No registra
freq                830
Columna    PARENTESCO_2
Name: PARENTESCO_2, dtype: object}, 'CANCER_PARENTESCO_2': {'Tipo': 'object (Categórica)', 'Resumen': count                      870
unique                      13
top              Sin CA Previo
freq                       830
Columna    CANCER_PARENTESCO_2
Name: CANCER_PARENTESCO_2, dtype: object}, 'PARENTESCO3': {'Tipo': 'object (Categórica)', 'Resumen': count              870
unique               4
top        No registra
freq               854
Columna    PARENTESCO3
Name: PARENTESCO3, dtype: object}, 'CANCER_PARENTESCO3': {'Tipo': 'object (Categórica)', 'Resumen': count                     870
unique                      3
top             Sin CA Previo
freq                      854
Columna    CANCER_PARENTESCO3
Name: CANCER_PARENTESCO3, dtype: object}, 'FEC_INGRESO_CASO': {'Tipo': 'object (Categórica)', 'Resumen': count                   870
unique                  553
top              2022-01-19
freq                      6
Columna    FEC_INGRESO_CASO
Name: FEC_INGRESO_CASO, dtype: object}, 'FEC_DIAGNO': {'Tipo': 'object (Categórica)', 'Resumen': count             870
unique            463
top        2021-06-15
freq               19
Columna    FEC_DIAGNO
Name: FEC_DIAGNO, dtype: object}, 'INTERVALO_INGRESO_DIAGNO': {'Tipo': 'float64 (Numérica)', 'Resumen': count                         870.0
mean                    -135.877011
std                      289.603049
min                         -1607.0
25%                          -211.0
50%                          -108.0
75%                            6.75
max                          3060.0
Columna    INTERVALO_INGRESO_DIAGNO
Name: INTERVALO_INGRESO_DIAGNO, dtype: object}, 'FEC_TOM_MUESTRA': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                 468
top             2021-06-15
freq                    19
Columna    FEC_TOM_MUESTRA
Name: FEC_TOM_MUESTRA, dtype: object}, 'TIPO_TUMOR': {'Tipo': 'object (Categórica)', 'Resumen': count             870
unique              2
top            solido
freq              869
Columna    TIPO_TUMOR
Name: TIPO_TUMOR, dtype: object}, 'COD_TOPOLOGIA': {'Tipo': 'int64 (Numérica)', 'Resumen': count              870.0
mean                61.0
std                  0.0
min                 61.0
25%                 61.0
50%                 61.0
75%                 61.0
max                 61.0
Columna    COD_TOPOLOGIA
Name: COD_TOPOLOGIA, dtype: object}, 'NOM_TOPOLOGIA': {'Tipo': 'object (Categórica)', 'Resumen': count                870
unique                 1
top             Prostata
freq                 870
Columna    NOM_TOPOLOGIA
Name: NOM_TOPOLOGIA, dtype: object}, 'COD_DET_TOPOLOGIA': {'Tipo': 'object (Categórica)', 'Resumen': count                    870
unique                     1
top                    C61.9
freq                     870
Columna    COD_DET_TOPOLOGIA
Name: COD_DET_TOPOLOGIA, dtype: object}, 'NOM_DETALLE_TOPO': {'Tipo': 'object (Categórica)', 'Resumen': count                      870
unique                       1
top        Glándula prostática
freq                       870
Columna       NOM_DETALLE_TOPO
Name: NOM_DETALLE_TOPO, dtype: object}, 'COD_CIE10': {'Tipo': 'object (Categórica)', 'Resumen': count            870
unique             1
top            C61.X
freq             870
Columna    COD_CIE10
Name: COD_CIE10, dtype: object}, 'MORFO_COMPLETA': {'Tipo': 'object (Categórica)', 'Resumen': count                             870
unique                              2
top        8140/3 ADENOCARCINOMA, SAI
freq                              816
Columna                MORFO_COMPLETA
Name: MORFO_COMPLETA, dtype: object}, 'NOM_COMPORTAMIENTO': {'Tipo': 'object (Categórica)', 'Resumen': count                     870
unique                      1
top                   Maligno
freq                      870
Columna    NOM_COMPORTAMIENTO
Name: NOM_COMPORTAMIENTO, dtype: object}, 'EXTENSION_NOM': {'Tipo': 'object (Categórica)', 'Resumen': count                870
unique                 6
top           Localizada
freq                 621
Columna    EXTENSION_NOM
Name: EXTENSION_NOM, dtype: object}, 'LATERALIDAD_NOM': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                   2
top         No Corresponde
freq                   866
Columna    LATERALIDAD_NOM
Name: LATERALIDAD_NOM, dtype: object}, 'GRADO_DIFERENCIACION': {'Tipo': 'object (Categórica)', 'Resumen': count                             870
unique                              6
top        Moderadamente Diferenciado
freq                              354
Columna          GRADO_DIFERENCIACION
Name: GRADO_DIFERENCIACION, dtype: object}, 'BASE_DIAGNOSTICA': {'Tipo': 'object (Categórica)', 'Resumen': count                               870
unique                                5
top        Histologia de Sitio Primario
freq                                794
Columna                BASE_DIAGNOSTICA
Name: BASE_DIAGNOSTICA, dtype: object}, 'TUMOR': {'Tipo': 'object (Categórica)', 'Resumen': count           870
unique            3
top        Primario
freq            796
Columna       TUMOR
Name: TUMOR, dtype: object}, 'GRAVEDAD': {'Tipo': 'object (Categórica)', 'Resumen': count            870
unique             2
top        No Existe
freq             563
Columna     GRAVEDAD
Name: GRAVEDAD, dtype: object}, 'POBLACION': {'Tipo': 'object (Categórica)', 'Resumen': count            870
unique             1
top        No Existe
freq             870
Columna    POBLACION
Name: POBLACION, dtype: object}, 'ETAPA_CLINICA': {'Tipo': 'object (Categórica)', 'Resumen': count                644
unique                 4
top                   II
freq                 191
Columna    ETAPA_CLINICA
Name: ETAPA_CLINICA, dtype: object}, 'TNM_1': {'Tipo': 'object (Categórica)', 'Resumen': count             637
unique            111
top        C T2 N0 M0
freq               75
Columna         TNM_1
Name: TNM_1, dtype: object}, 'SUBTIPO': {'Tipo': 'int64 (Numérica)', 'Resumen': count        870.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
Columna    SUBTIPO
Name: SUBTIPO, dtype: object}, 'ESTADO_ACTUAL': {'Tipo': 'object (Categórica)', 'Resumen': count                      870
unique                       5
top        VIVO CON ENFERMEDAD
freq                       701
Columna          ESTADO_ACTUAL
Name: ESTADO_ACTUAL, dtype: object}, 'ESTADO_ACTUAL_TTO': {'Tipo': 'object (Categórica)', 'Resumen': count                    870
unique                     9
top                     Alta
freq                     528
Columna    ESTADO_ACTUAL_TTO
Name: ESTADO_ACTUAL_TTO, dtype: object}, 'ULTIMO_CONTACTO': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                 514
top             21/03/2024
freq                    10
Columna    ULTIMO_CONTACTO
Name: ULTIMO_CONTACTO, dtype: object}, 'ESTADO_RECH': {'Tipo': 'object (Categórica)', 'Resumen': count              870
unique               2
top        FIN DE CASO
freq               693
Columna    ESTADO_RECH
Name: ESTADO_RECH, dtype: object}, 'CLASEDECASO': {'Tipo': 'object (Categórica)', 'Resumen': count                                               870
unique                                                5
top        Diagnosticado en otro centro, TTO en recinto
freq                                                555
Columna                                     CLASEDECASO
Name: CLASEDECASO, dtype: object}, 'FUENTE1': {'Tipo': 'object (Categórica)', 'Resumen': count               870
unique               10
top        RADIOTERAPIA
freq                375
Columna         FUENTE1
Name: FUENTE1, dtype: object}, 'ESTADO': {'Tipo': 'object (Categórica)', 'Resumen': count              870
unique               1
top        CORRESPONDE
freq               870
Columna         ESTADO
Name: ESTADO, dtype: object}, 'INTENCION_TRATA': {'Tipo': 'object (Categórica)', 'Resumen': count                  870
unique                   2
top               Curativo
freq                   751
Columna    INTENCION_TRATA
Name: INTENCION_TRATA, dtype: object}, 'RESPUESTA_TRATA': {'Tipo': 'object (Categórica)', 'Resumen': count                     870
unique                      6
top        Enfermedad Estable
freq                      674
Columna       RESPUESTA_TRATA
Name: RESPUESTA_TRATA, dtype: object}, 'TIPO_TERAPIA_1': {'Tipo': 'object (Categórica)', 'Resumen': count                 870
unique                  8
top           Teleterapia
freq                  552
Columna    TIPO_TERAPIA_1
Name: TIPO_TERAPIA_1, dtype: object}, 'FECHA_INICIO_TRATAMIENTO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                             870
unique                            519
top                        2019-09-23
freq                                7
Columna    FECHA_INICIO_TRATAMIENTO_1
Name: FECHA_INICIO_TRATAMIENTO_1, dtype: object}, 'FECHA_TERMINO_TRATAMIENTO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                              870
unique                             561
top                         2021-09-06
freq                                77
Columna    FECHA_TERMINO_TRATAMIENTO_1
Name: FECHA_TERMINO_TRATAMIENTO_1, dtype: object}, 'TIPO_TRATAMIENTO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                     870
unique                      3
top              neoadyuvante
freq                      449
Columna    TIPO_TRATAMIENTO_1
Name: TIPO_TRATAMIENTO_1, dtype: object}, 'OBSERVACION_TRATAMIENTO_1': {'Tipo': 'object (Categórica)', 'Resumen': count                            870
unique                           596
top                       GOSERELINA
freq                             104
Columna    OBSERVACION_TRATAMIENTO_1
Name: OBSERVACION_TRATAMIENTO_1, dtype: object}, 'DIAS_HASTA_INICIO_TRATAMIENTO': {'Tipo': 'int64 (Numérica)', 'Resumen': count                              870.0
mean                          252.203448
std                           247.576699
min                                  0.0
25%                               111.25
50%                                181.0
75%                               299.75
max                               1641.0
Columna    DIAS_HASTA_INICIO_TRATAMIENTO
Name: DIAS_HASTA_INICIO_TRATAMIENTO, dtype: object}}

In [31]:


# 2. Obtener información sobre las columnas
diccionario_columnas_numericas = {}
diccionario_columnas_categoricas = {}

for columna in data_cleaned.columns:
    tipo_variable = str(data_cleaned[columna].dtype)  # Convertir a cadena de texto
    
    # Resumen del contenido
    resumen_contenido = data_cleaned[columna].describe().reset_index().rename(columns={'index': 'Descripción'})
    
    # Agregar información sobre si la variable es numérica o categórica
    if pd.api.types.is_numeric_dtype(data_cleaned[columna]):
        tipo_variable += " (Numérica)"
        # Agregar al diccionario de columnas numéricas
        diccionario_columnas_numericas[columna] = {
            "Tipo": tipo_variable,
            "Resumen": resumen_contenido
        }
    else:
        tipo_variable += " (Categórica)"
        # Agregar al diccionario de columnas categóricas
        diccionario_columnas_categoricas[columna] = {
            "Tipo": tipo_variable,
            "Resumen": resumen_contenido
        }

# 3. Exportar el diccionario a Excel
ruta_excel = "C:/Users/Administrador/Desktop/Magister_DataScience/21_Proyecto_de_Grado_I/ds-cancer-prostata/data/processed/Diccionario5.xlsx"   # Ruta donde se guardará el archivo Excel
with pd.ExcelWriter(ruta_excel) as writer:
    # Hoja para columnas numéricas
    df_numericas = pd.DataFrame()
    for columna, info in diccionario_columnas_numericas.items():
        resumen_transpuesto = info['Resumen'].T.reset_index()
        resumen_transpuesto['Columna'] = columna
        resumen_transpuesto = resumen_transpuesto.rename(columns={0: 'Descripción', columna: 'Valor'})
        df_numericas = pd.concat([df_numericas, resumen_transpuesto], ignore_index=True)
    df_numericas.to_excel(writer, index=False, sheet_name="Columnas Numéricas")
    
    # Hoja para columnas categóricas
    df_categoricas = pd.DataFrame()
    for columna, info in diccionario_columnas_categoricas.items():
        resumen_transpuesto = info['Resumen'].T.reset_index()
        resumen_transpuesto['Columna'] = columna
        resumen_transpuesto = resumen_transpuesto.rename(columns={0: 'Descripción', columna: 'Valor'})
        df_categoricas = pd.concat([df_categoricas, resumen_transpuesto], ignore_index=True)
    df_categoricas.to_excel(writer, index=False, sheet_name="Columnas Categóricas")

print("El diccionario de columnas se ha exportado a Excel exitosamente.")

El diccionario de columnas se ha exportado a Excel exitosamente.